.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0; /* Light gray background */
  /* Remove the blue border */
}

.search-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-container input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1; /* Makes the input take up available space */
}

.green-button {
  background-color: #4caf50; /* Green color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.green {
  background-color: #4caf50; /* Green color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.title span {
  color: #06d001;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
  background-color: #06d001;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
}

.search-box input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 8px;
  font-size: 16px;
  background-color: transparent;
}

.search-button {
  background-color: #06d001;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 50px;
}

.search-button {
  background-color: #4caf50; /* Green button */
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 90px;
  cursor: pointer;
}
